<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev">
	<select id="selectDatajikwon" resultType="pack.business.JikwonBean">
		select jikwon_no, jikwon_name, jikwon_jik, jikwon_gen, jikwon_pay from jikwon
	</select>
	<select id="selectGroupby" resultType="pack.business.jikwonAllBean">
		select jikwon_jik, count(jikwon_no) as jik_count, sum(jikwon_pay) as pay_sum, avg(jikwon_pay) as pay_avg from jikwon group by jikwon_jik;
	</select>
</mapper>